.navbar{
    background-color: lightgray;
    margin-bottom: 10px;
    border-bottom: solid black 4px;
    
}
.navbar-band{
    color: black;
    float: left;
}

.nav-item{
    color: black;
    margin-left: 15px;    
    font-family: 'Open Sans Condensed', sans-serif;
}
