.navbar{
    background-color: black;
    margin-bottom: 10px;
    border-bottom: solid black 2px;
    display: flex;
    justify-content: flex-end;

    
}
.navbar-band{
    color:white;
   
   
}

.nav-item{
    color: white;
    padding-right: 8px;  
} 
