.navbar{
    background-color: aqua;
    margin-bottom: 10px;
    border-bottom: solid black 2px;
    
}
.navbar-band{
    color: black;
    float: left;
}

.nav-item{
    color: black;
    margin-left: 15px;    
}
