.jumbotron {
    border: solid;
    /* border-color: black; */
  
    /* margin-top: 200px; */
    background-color:white;
    font-family: 'Open Sans Condensed', sans-serif;
}


img {
    border-radius: 1px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 50%;
}